<div class="bg-secondary py-2 py-md-5">
    <div class="container">
    <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <p class="text-white small text-center">
        Associazione Culturale "Nova Artistudium"<br>
        Via Corticelli, 19-21 - 70129 - Bari-Ceglie del Campo<br>
        Tel. +39 080 9189249 • <a class="text-white" href="mailto:info@nova-artistudium.it">info@nova-artistudium.it</a> • <a class="text-white" href="mailto:novartistudium@pec.it">novartistudium@pec.it</a>
        </p>
    </div>
    </div>
    </div>

</div>